underzombied/.vscode/*
underzombied/Library/*
underzombied/Logs/*
underzombied/Packages/*
underzombied/ProjectSettings/*
underzombied/Temp/*
underzombied/UserSettings/*
underzombied/underzombied.sln
*.csproj
*Scene*
underzombied/Assets/Scenes
underzombied/Assets/Scenes/
underzombied/Assets/Scenes/*
